<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>首页</h1>
<a th:href="@{/servlrtAPI}">ServletAPI向Request域对象共享数据</a></br>
<a th:href="@{/ModelAndView}">ModelAndView向Request域对象共享数据</a></br>
<a th:href="@{/Model}">Model向Request域对象共享数据</a></br>
<a th:href="@{/Map}">Map向Request域对象共享数据</a></br>
<a th:href="@{/ModelMap}">ModelMap向Request域对象共享数据</a></br>
<a th:href="@{/HttpSession}">ServletAPI向session域对象共享数据</a></br>
<a th:href="@{/Application}">ServletAPI向application域对象共享数据</a></br>
<a th:href="@{/view}">view</a></br>
</body>
</html>